body {
    width: 100%;
    background-image: url(/starter-code/assets/crew/background-crew-desktop.jpg);
    background-attachment: fixed;
    font-family: 'Bellefair', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    animation-name: show;
    animation-duration: 1s;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dis-intro {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: start;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    margin-bottom: 4rem;
}

.dis-intro span {
    font-weight: bold;
    color: #4A4B54;
    margin-right: 1.5rem;
}

.crew-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;
}

.crew-member {
    width: 48%;
    height: fit-content;
    position: relative;
    top: -2rem;
}

.crew-member img {
    width: 100%;
    height: 100%;
}

.left {
    width: 46%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16rem;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
}

.role {
    width: 100%;
    font-size: 2rem;
    color: #67686D;
    text-transform: uppercase;
}

.crew-name {
    width: 100%;
    font-size: 3.3rem;
    color: white;
    text-transform: uppercase;
}

.discreption {
    line-height: 170%;
    font-size: 1rem;
    color: #D1D6F6;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

.radios {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radios div {
    cursor: pointer;
    background-color: #4A4B54;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.active {
    background-color: white !important;
}